extends layout

block content
  h1= title
  p To start your next carting journey, enter a product name and size.  This should only be done right before the sale begins.
  div.col-sm-12
    form#form(method="POST" action="/cart")
      div.form-group
        label.col-sm-2(for="website") Web&nbsp;Site:
        input#website(type="text", placeholder="https://welldressedwolf.com", name="website", value=website)
      div.form-group
        label.col-sm-2(for="product") Product:
        input#product(type="text", placeholder="Aunt Heart Yellow Gingham", name="product", value=product)
      div.form-group
        label.col-sm-2(for="size") Size:
        input#size(type="text", placeholder="2t", name="size", value=size)
      div.form-group
      input#uuid(type="hidden", name="uuid" value=uuid)
      div.col-sm-2
        button.btn.btn-primary(type="submit" name="action" value="go") Go!
      div
        button#test.btn.btn-secondary(type="submit" name="action" value="test") Run a Test
        button#test.btn.btn-secondary(type="submit" name="action" value="link") Generate a link
  script(src="/javascripts/index.js")
  p
    br
    br
    br
    d#message 
    br
    d#count
